/*inizio nav*/
.navbar {
  background-color: white;
}
.menu-nav li {
  margin-top: 30px;
  color: #002966;
}
.navbar img {
  width: 80%;
  height: 100%;
  margin-top: 10px;
}
.navbar i {
  margin-left: 3px;
}
.menu-nav {
  padding-left: 10px;
}
.sign-in-nav {
  background: white;
  color: #00ace6;
  padding: -80px;
  border: 1px solid #00ace6;
  border-radius: 3px;
}
@media screen and (max-width: 768px) {
  .burger-menu {
    text-align: right;
    line-height: 70px;
    margin-right: 30px;
    font-size: 20px;
    color: #00ace6;
  }
  .navbar img {
    width: 90%;
  }
}
@media screen and (min-width: 769px) and (max-width: 991px) {
  .burger-menu {
    text-align: right;
    line-height: 70px;
    margin-right: 30px;
    font-size: 30px;
    color: #00ace6;
  }
  .navbar img {
    width: 90%;
  }
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .burger-menu {
    text-align: right;
    line-height: 90px;
    margin-right: 30px;
    font-size: 30px;
    color: #00ace6;
  }
  .navbar img {
    width: 80%;
  }
}
/*fine nav*/
/*inizio entry*/
.entry {
  background-image: url(../img/bg-home-1-d54581d7.jpg);
  background-size: cover;
  margin-top: 44px;
}
.testo-entry {
  margin-top: 50px;
}
.testo-entry h1,
.testo-entry p {
  color: white;
  margin-top: 20px;
}
.login-entry {
  background-color: white;
  height: 300px;
  width: 400px;
  margin-left: 20px;
  margin-top: 40px;
  margin-bottom: 20px;
  float: left;
  border-radius: 6px;
}
.login-entry h3,
.login-entry h4 {
  text-align: center;
}
.login-entry h4 {
  color: #004de6;
}
.account {
  height: 35px;
  width: 100%;
  background-color: #00ace6;
  margin: 0 auto;
  border-radius: 6px;
}
.account h5 {
  text-align: center;
  line-height: 35px;
  color: white;
}
.google {
  height: 35px;
  width: 100%;
  margin: 0 auto;
  border-radius: 6px;
  border: 1px solid #f2f2f2;
  margin-top: 10px;
}
.google img {
  width: 20px;
  height: 20px;
  float: left;
  margin-left: 30px;
  margin-top: 7px;
}
.google h5 {
  text-align: center;
  margin-right: 50px;
  color: grey;
}
/*fine entry*/
/*inizio sponsor*/
.sponsor {
  background-color: #e6e6e6;
  text-align: center;
  margin-top: -10px;
}
.sponsor h5 {
  color: #002966;
}
.docker {
  width: 200px;
  height: 150px;
  margin-top: 30px;
  margin-left: -25px;
}
.docker img {
  width: 50%;
  height: 60%;
}
.gitlab {
  width: 200px;
  height: 150px;
  margin-top: 30px;
  margin-left: -25px;
}
.gitlab img {
  width: 50%;
  height: 60%;
}
.slack {
  width: 200px;
  height: 150px;
  margin-top: 30px;
  margin-left: -25px;
}
.slack img {
  width: 50%;
  height: 60%;
}
.hashi {
  width: 200px;
  height: 150px;
  margin-top: 30px;
  margin-left: -25px;
}
.hashi img {
  width: 50%;
  height: 60%;
}
.splunk {
  width: 200px;
  height: 150px;
  margin-top: 30px;
}
.splunk img {
  margin-top: 28px;
  width: 50%;
  height: 25%;
  margin-left: -55px;
}
.sponsor h4 {
  color: #00ace6;
}
/*deploy*/
.deploy {
  background-color: white;
}
.deploy h2,
.deploy p {
  text-align: center;
}
.deploy h2,
.deploy h3 {
  color: #002966;
}
.deploy p {
  color: #999999;
}
.menu-dep ul {
  border-left: 2px solid #a6a6a6;
  font-size: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.menu-dep li {
  list-style-type: none;
  margin-left: -20px;
  margin-top: 15px;
  color: #999999;
}
.cluster {
  margin-top: 20px;
}
.cluster p {
  text-align: left;
}
.optimized {
  margin-top: 20px;
}
.optimized p {
  text-align: left;
}
.one-click {
  margin-top: 30px;
}
.one-click p {
  text-align: left;
}
.global {
  margin-top: -140px;
}
.global p {
  text-align: left;
}
@media screen and (max-width: 768px) {
 .global {
   margin-top: 20px;
 }
}
@media screen and (min-width: 769px) and (max-width: 991px) {
  .global {
    margin-top: 20px;
  }
}
/*inizio developers*/
.developers {
  background-color: #e6f2ff;
}
.developers h2 {
  text-align: center;
  color: #002966;
}
.developers p {
  text-align: center;
}
.developers li {
  list-style-type: none;
}
.freccia-destra {
  margin-top: 10px;
}
.freccia-destra i {
  text-align: right;
}
.freccia-sinistra {
  margin-top: 10px;
}
.freccia-sinistra li {
  text-align: right;
  margin-top: 200px;
}
.freccia-destra i {
  margin-top: 200px;
}
.img-dev img {
  width: 100%;
  margin-top: 10px;
}
.img-dev h5 {
  padding-top: 10px;
  text-align: center;
  color: #002966;
}
.img-dev ul {
  text-align: center;
  color: #002966;
}
.img-dev li {
  display: inline-block;
}
/*inizio features*/
.features {

}
.features h2 {
  padding-top: 20px;
  color: #002966;
  text-align: center;
}
.features h4 {
  color: #002966;
}
.predictable {
  margin-top: 15px;
}
.wc-serv {
  margin-top: 15px;
}
.reliable {
  margin-top: 15px;
}
/*inizio regions*/
.regions {
  background-color:  #002966;
}
.regions h2 {
  text-align: center;
  color: white;
  padding-top: 50px;
}
.table-1 {
  margin-bottom: 30px;
}
.table-1 li {
  display: inline-block;
  padding-top: 10px;
  color: white;
}
.table-1 p {
  text-align: center;
  margin-left: 70px;
}
.table-1 a {
  color: #66e0ff;
  margin-right: 0px;
}
.speed {
  float: left;
  width: 30%;
  line-height: 55px;
  text-align: right;
}
.t1-1 {
  border-bottom: 2px solid grey;
  width: 100%;
  float: left;
}
.testo {
  width: 70%;
  float: left;
}
.t1-2 {
  border-bottom: 2px solid grey;
  width: 100%;
  float: left;
}
.t1-3 {
  border-bottom: 2px solid grey;
  width: 100%;
  float: left;
}
.t1-4 {
  border-bottom: 2px solid grey;
  width: 100%;
  float: left;
}
.t1-5 {
  border-bottom: 2px solid grey;
  width: 100%;
  float: left;
}
.t1-6 {
  width: 100%;
  float: left;
}
/*inizio team*/
.team {
  background-color: #e6f2ff;
}
.team h2 {
  text-align: center;
  color: #002966;
}
.team p {
  text-align: center;
}
.team li {
  list-style-type: none;
}
.img-team {
  background-color: white;
  margin-top: 15px;
}
.img-team img {
  margin-top: 30px;
  width: 60%;
  margin-left: 110px;
}
.img-team h5 {
  font-size: 19px;
  text-align: center;
  color: #999999;
}
.story {
  text-align: center;
}

.freccia-sinistra-team li {
  text-align: right;
  margin-top: 110px;
}
.freccia-destra-team i {
  margin-top: 110px;
}
.pallini ul {
  margin-right: 40px;
  text-align: center;
}
.pallini li {
  display: inline-block;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #002966;
}
/*inizio start*/
.start {
  background-color: #002966;
  margin-top: -15px;
}
.start h2 {
  color: white;
  text-align: center;
}
.create {
  background-color: white;
  border: 1px solid white;
  border-radius: 6px;
  width: 30%;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 50px;
}
.create h5 {
  color: #002966;
  text-align: center;
  vertical-align: middle;
  padding-bottom: 3px;
  font-size: 20px;
}
@media screen and (max-width: 991px) {
  .create h5 {
    font-size: 15px;
  }

}




ù
